.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  background-color: #282c34;
  display: none;
}

.App-header {
  /* background-color: #282c34; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}

.input-container {
  width: 30%;
}

.image-container {
  width: 40%;
  padding-right: 32px;
}

.input-border {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 32px;
  margin-bottom: 32px;
}
.input-title-container {
  display: flex;
  flex-direction: column;
  align-items: column;
  width: 30%;
}

.input-value-container {
  display: flex;
  flex-direction: column;
  align-items: column;
  width: 70%;
}

.row-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
}

.input-title {
  margin-right: 16px;
  text-align: end;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
